LGO_MODELS_DIR=../../lgo-digital-twin-handoff/models
LGO_CASES_DIRS=../../lgo-digital-twin-handoff/test_data/gap30:../../lgo-digital-twin-handoff/test_data/gap58
LGO_DEVICE=auto
LGO_MAX_CASES=4
LGO_DEFAULT_RUN=final30_lgo_ginot_lr1e-3
LGO_SEED=0
LGO_MAX_POINTS=1000000
LGO_CORS_ALLOW_ORIGINS=http://localhost:3002
