GINOT_MODEL_PATH=saved_weights/ginot_trained_multicase.pth
GINOT_ONNX_MODEL_PATH=saved_weights/ginot.onnx
GINOT_INFERENCE_ENGINE=torch
DEVICE=auto
MAX_BOUNDARY_POINTS=100000
MAX_INTERIOR_POINTS=50000
INFERENCE_TIMEOUT_SECONDS=500
CORS_ALLOW_ORIGINS=*
RATE_LIMIT_TIMES=10
RATE_LIMIT_WINDOW_SECONDS=60
GINOT_ALLOW_FALLBACK_MODEL=true
API_KEY=
